@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400');
@import url('https://fonts.googleapis.com/css2?family=Italianno');



:root{
    --fz: 20px;
    --hNews: 'Newsreader', serif;
    --handFont: 'Italianno', cursive;
    --subFont: 'Cormorant Garamond', serif;
    --pFont: 'Zilla Slab', serif;
    --BtnGrandezza: 60px;
    --BtnFrGrandezza: 100px;
    --DAO1: 252;
    --DAOCerchio1: 172.62;
    --DAOCerchio2: 20.16;
    --DAOCerchio3: 100.8;

    --bgCDA: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.822391456582633) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 100%),
    url(../immagini/nav-sfondo.jpg);
    --bgFinanza: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.822391456582633) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 100%),
    url(../immagini/nav-sfondo2.jpg);

    --pink: #F424B9;
}