@import url('costanti.css');
@import url('animazioni.css');

/* GENERALI */
*{box-sizing: border-box;}

body,html{
    margin: 0; padding: 0; 
    /* overflow: hidden; */
    background-color: rgb(255, 255, 255);
    font-size: var(--fz);
    opacity: 0;
    animation: display 1.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
    scroll-behavior: smooth;
}

@keyframes display {
    to{opacity: 1;}
}


body{
    width: 100%;
    font-family: var(--pFont)
}

nav{
    position: fixed;
    top: 10%; 
    left: 50%;
    transform: translatex(-50%);   
}

h1{
    font-size: 3rem;
    margin: 0;
}


h2{
    padding-bottom:5%;
    font-family: var(--subFont);
    font-size: 2.5rem;

}
h2::after{
    content:"";
    border-bottom: 5px solid #F424B9;
    width: 18%;
    margin-top: 9px;
    display: block;

}

h3{
    font-size: 1.5rem;
    width: 100%;
}

h3::after{
    content:"";
    border-bottom: 3px solid blue;
    width: 6%;
    margin-top: 9px;
    display: block;
}

h4{
    font-size: 1.25rem;
    margin: 0; padding: 0;
}

h5{
    font-size: 1.25rem;
    margin: 0; padding: 0;
}

img{
    height: 100%; width: auto;
    
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-family: var(--pFont);
}

b{
    font-style: italic;
}
/* GENERALI */



/* LAYOUT */
#MENU{
    position: fixed;
}

.menu{
    display: flex;
    flex-flow: row nowrap;
    /* align-items: center; */
    /* border:2px solid black; */
    width: 700px; height: 70px;
}

nav a{
    font-size: var(--fz);
    text-transform: uppercase;
    color: white;
    text-decoration: none;

    line-height: 60px;

    display: inline-block;
    text-align: center;
    /* border:3px solid blue; */
    transition: all 1.5s;
}

header{
    height:100vh;
}

.hero{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.822391456582633) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 100%),
    url(../immagini/nav-sfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    height: 100%; width: 100%;
}

.hero__content{
    color: white;
    position:fixed;
    height: auto;
    bottom: 10%;
    
    padding-left:20vw;
    padding-right:10vw;
    /* border:2px solid black; */

    display: flex;
    justify-content: center;
    flex-flow: row wrap;

}
.hero__content>*{
    flex: 1 1 100%;
}

main{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    z-index:4;
    /* border: 3px solid red; */
}

#MAIN{
    background: white;
    width: 100%; 
}

section{
    position: relative;
    max-width: 100%;
    padding-top:25%;
    padding-bottom: calc(var(--BtnFrGrandezza)*1.25);

    display: flex;
    flex-flow: row wrap;
    justify-content: center; align-items: center;
    
    transition: all 0.25s;
}
section>*{
    /* border: 1px solid green; */
    flex: 1 1 100%;
}

section ul li{
    list-style-type: disc;
    padding-left: 3%;
}

@media (max-width:768px) {
    section{
        padding-bottom: calc(var(--BtnFrGrandezza)*1);
    }
}

.bottone{
    width: var(--BtnFrGrandezza);
    height: var(--BtnFrGrandezza);
    position: absolute;
    bottom:0; 
    /* border: 2px solid black; */

    transition: all 0.25s;
    
}

.freccia-circolare{
    width:100%;
    height:auto;
    position:absolute;
    top:50%;left: 50%;
    transform: translate(-50%,-50%);
    fill:blue;
    transition: width 0.5s;
}

.contenitore-flex{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: space-evenly; align-items: center;
    /* height: 60vh;  */

    max-width: 100%;

}
.cerchio svg{
    filter: drop-shadow(4px 4px 4px black);
}
.cerchio{
    height: 365px;
    flex: 0 1 365px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenitore-flex svg{
    position: absolute;
    top: 0;left: 0;
    /* border: 3px solid pink; */
}

.numero{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
/* LAYOUT */


/* UTILITIES */
nav a:nth-child(1){
    flex: 1 1 200px;
}
nav a:nth-child(1):hover{
    flex: 1 1 400px;
    text-shadow: 2px 2px 2px #F424B9;
    transform: scale(1.25);
}
nav a:nth-child(3){
    flex: 1 1 200px;
}
nav a:nth-child(3):hover{
    flex: 1 1 400px;
    text-shadow: 2px 2px 2px #F424B9;
    transform: scale(1.25);
}
nav a:nth-child(2){
    flex: 1 1 300px;
}
nav a:nth-child(2):hover{
    flex: 1 1 600px;
    /* height: auto; */
    transform: scale(1.25);
}

.hero__content li{
    list-style:none;
    transition: all 0.5s;
    position: relative;
    padding: 1% 0;

}

li:hover, li:active, li:focus{
        padding: 0 5%;
}

span[data-descr]:hover{
    cursor:help;
    position: relative;

}
span[data-descr]:hover::after, 
span[data-descr]:active::after{
    content: attr(data-descr);
    background: rgb(222, 222, 222);
    position: absolute;
    top: calc(var(--fz)*1.5);
    left:50%;
    transform: translateX(-50%);

    width:30vw;
    padding:15px 20px;

    box-shadow: 3px 3px 3px black;
    font-size: calc(80%);
    z-index:2;
    line-height: 1.5em;
    text-align: justify;

}

.freccia-circolare:hover {
    fill:#F424B9;
    width:125%;
    height: auto;
    filter:drop-shadow(3px 3px 3px black)
}
.freccia-circolare:hover path[fill="blue"] {
    fill:#F424B9;
    width:125%;
    height: auto;
    filter:drop-shadow(3px 3px 3px #F424B9)
}
/* UTILITIES */





/* Media Query per Menù a comparsa e ridimensionamento font */
@media (max-width:768px) {

    body,html{
        font-size: calc(var(--fz)*0.69);
    }

    h2{
        font-size: 2.25rem;
    }

    #MENU {
        position: absolute;
        top: -200%; left: 50%;
        transform: translate(-50%,-50%);   

    }

    .menu{
        display: flex;
        flex-flow: column nowrap;
        /* border:2px solid black; */
        width: 300px;
        height: calc((70px * 3));
        gap: 10px;

    }

    nav a{
        flex: 1 1 100%;
        height: 60px;
    }

    .hamburger{
        position:fixed;
        height: 50px; width: 50px;
        /* background-color: black; */
        top: 50px; right: 50px;

        display: block;
        z-index: 4;

    }

    .hamburger span{
        background: white;
        width: 100%; height: 2px;
        margin-bottom: 15px;
        display: block;
    }

    #MENU.menu--aperto{
        /* display: none; */
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);   
        height: 100%; 
        width: 100%;

        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 35%, rgba(0,0,0,0.5) 65%, rgba(255,255,255,0) 100%),
        url(../immagini/hamburger.jpg);

        background-repeat: no-repeat;
        background-size: cover;

        border: 3px solid pink;

        transition: all 1s;
        display: flex ;
        align-items: center;
        justify-content: center;
        z-index: 3;

    }
}
/* Fine */

/* Media Query (prob. unica) per tablet (Ridimensionamento ed allineamento*/
@media (min-width:768px) and (max-width:1024px){
    main{
        max-width: 700px;
        text-align: justify;
    }

    body,html{
        font-size: calc(var(--fz)*0.90);
    }
}
/* Fine */







/* Media query per ridimensionamento bottone e layout testo */
@media (max-width:768px) {
    .bottone{
        width:var(--BtnGrandezza);
        height: var(--BtnGrandezza);
        position: absolute;
        border: 2px solid black;
        bottom: 0%;

        transition: all 0.25s;
    }

    main{
        padding: 0 10% 0 5%;
        text-align: justify;
    }
}
/* media query per ridimensionamento grafici */
@media (max-width:768px) {
    .contenitore-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
        width: 100%;
    
    }
    .cerchio{
        height: 270px;
        flex: 0 1 270px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
}
/* Fine */


.contenitore{
    max-width: 100%;
}
.contenitore-slider{
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}
.slider__content{
    position: sticky;
    bottom: 25%; left: 10%;
    width: 80%;
    transform: translateY(25%);
    color: white;
    
}
.slider__content h2{
    margin: 0; padding: 0;
    font-family: var(--hNews);
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px blue;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider figure{
    flex: 1 0 100%;
    scroll-snap-align: start;
    position: relative;
    overflow-y: hidden;
    margin: 0;padding: 0;

}
figcaption{
    margin: 0; padding: 0;
    object-fit: cover;
    overflow-y: HIDDEN;
}
/* .slider figure img{
    width: 100%;
    aspect-ratio: 16/9;
} */
.slider-nav{
    display: flex;
    column-gap: 25px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 10px;
    height: 10px;
    opacity: 0.75;
    border-radius: 50%;
    background-color: white;
    transition: all 0.25s;
}
.slider-nav a:hover{
    opacity: 1;
    transform: scale(1.5);
    
}

#slide-1{
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6963410364145659) 71%, rgba(0,0,0,0.49746148459383754) 100%, rgba(255,255,255,0) 100%), url(../immagini/VDL.png);
    background-size: cover;


}
#slide-2{
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6963410364145659) 71%, rgba(0,0,0,0.49746148459383754) 100%, rgba(255,255,255,0) 100%), url(../immagini/QM.png);
    background-size: cover;
}
#slide-3{
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6963410364145659) 71%, rgba(0,0,0,0.49746148459383754) 100%, rgba(255,255,255,0) 100%), url(../immagini/Graphs.png);
    background-size: cover;
}

.nascondi{
    display: none;
}




@media (max-width:768px) {
    .contenitore-slider p{
        font-size: 0.69rem;
    }
    .contenitore-slider h2{
        font-size: 1.25rem;
    }

    .slider-nav a{
        width: 5px; height: 5px;
    }
    .slider{
        box-shadow: 2.5px 2.5px 2.5px blue;
    }
}






















/* Gestione Fade-in */
@media (min-width:1024px) {
    *.fade-in{

        opacity: 0;
        transition: all 1s;
        /* margin-right: 200vw; */
        filter: blur(3px);
        

    }
    *.in-page{
        opacity: 1;
        filter: blur(0px);
        /* margin-right: 0vw; */


    }


}


.watchBtn{
    opacity: 0;
    transition: all 1.5s;
    transform: scale(2);

}
.showBtn{
    /* Da vedere per comparsa dall'alto / basso (translate non funziona) */
    opacity: 1;
    transform: scale(1);

}

.watch{
    transform:scale(0);
    transition:all 1s;
    visibility: hidden;
}

.showed{
    transform: scale(1);
    /* transform: rotate(360deg); */
    visibility: visible;
}
/* Fine */


/* helpers */
.tac{
    text-align: center;
}
.pink{
    color: var(--pink);
}


